
.modal
{
    width: 600px;
    padding: 10px;
    border-radius: 0px !important;
}
.modal-content
{
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5px;
}
.nav-link
{
    color: white !important;
}
.nav-item
{
    border-radius: 2px;
}
.nav-item:hover
{
    background-color: #9d9dff;
}
.text_btn
{
    text-decoration: none !important;
}
.btn_inicial
{
    background-color:#9d9dff !important;
    width: 200px;
    height: 40px;
    border-radius: 5px;
}
.btn_inicial:hover
{
    box-shadow: 2px 2px 5px #9d9dff !important;
}